.hashtag-card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start; 
    gap: 4px;
    align-self: stretch; // This is a flexbox property that 
    // aligns the item on the cross axis
    border-radius: 30px;
    background-color: #fff;

    &__title {
        display: flex;
        align-items: flex-start;
        gap: 4px;
    }

    &__title-text {
        font-weight: 500;
        line-height: 24px;
    }

    &__posts {
        font-weight: 500;
        line-height: 16px;
    }
}