.post-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 30px;
    background-color: #fff;

    &__header {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    &__header-avatar {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        width: 60.889px;
        height: 60.889px;
        flex-shrink: 0;
        fill: #d9d9d9;
        background: url('/image/buma avatar post.png') lightgray 3.681px 20.28px / 55.396% 28.975% no-repeat,
        linear-gradient(0deg, #fff 0%, #fff 100%), url('/image/buma avatar post.png') lightgray 50% / cover no-repeat;
        border-radius: 100%;
        border: 3.56px solid #1A2730;
    }

    &__header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 4px;
        flex: 1 0 0;
        border-radius: 20px;
    }

    &__header-content-user {
        display: flex;
        align-items: center;
        gap: 4px;
        align-self: stretch;
    }

    &__header-content-username {
        flex: 1 0 0;
        font-size: 16px;
    }

    &__header-content-more-icon {
        background-color: #F5F8FA;
        border-radius: 100%;
    }

    &__header-content-position {
        display: flex;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    &__header-content-position-name {
        font-weight: 500;
        line-height: 16px;
    }

    &__header-content-position-minus {
        font-weight: 500;
        line-height: 16px;
    }

    &__header-content-address {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__header-content-address-icon {
        width: 16px;
        height: 16px;
    }

    &__header-content-address-name {
        color: #047CDD;
        font-weight: 500;
        line-height: 16px;
    }

    &__header-content-time {
        color: #7E93A8;
        font-weight: 500;
        line-height: 16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }

    &__content-title {
        color: #333F47;
        text-align: justify;
        font-weight: 600;
    }

    &__content-desc {
        align-self: stretch;
        text-align: justify;
        font-weight: 500;
        line-height: 16px;
    }

    &__content-desc-more {
        align-self: stretch;
        text-align: right;
        font-weight: 500;
        line-height: 16px;
    }

    &__content-attachment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }

    &__content-attachment-image {
        display: flex;
        width: 638px;
        height: 358px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        aspect-ratio: 319/179;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('/image/video-thumbnail.png') lightgray 50% / cover no-repeat;
        z-index: 1;
        position: relative;
        height: auto;
    }

    &__engagements {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    &__engagements-likes {
        text-align: center;
        font-weight: 500;
        line-height: 16px;
    }

    &__engagements-likes-name {
        text-align: center;
        font-weight: 500;
        line-height: 16px;
    }

    &__engagements-border {
        text-align: center;
        font-weight: 500;
        line-height: 16px;
    }

    &__engagements-comments {
        text-align: center;
        font-weight: 500;
        line-height: 16px;
    }

    &__engagements-comments-name {
        text-align: center;
        font-weight: 500;
        line-height: 16px;
    }

    &__divider1 {
        display: flex;
        height: 1px;
        padding-top: 1px;
        border-top: 1px solid #E8ECF5 !important;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border: none;
    }

    &__divider2 {
        display: flex;
        height: 1px;
        padding-top: 1px;
        border-top: 1px solid #E8ECF5 !important;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border: none;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 24px;
        align-self: stretch;

        &-like {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            &-icon {
                width: 16px;
                height: 16px;
            }

            &-name {
                text-align: center;
                font-weight: 500;
                line-height: 16px;
            }
        }

        &-comment {
            display: flex;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            cursor: pointer;

            &-icon {
                width: 16px;
                height: 16px;
            }

            &-name {
                text-align: center;
                font-weight: 500;
                line-height: 16px;
            }
            
        }

        &-copy {
            display: flex;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            cursor: pointer;

            &-icon {
                width: 16px;
                height: 16px;
            }

            &-name {
                text-align: center;
                font-weight: 500;
                line-height: 16px;
            }
        }
    }

    &__more-comments {
        display: flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 30px;
        border: 1px solid #E8ECF5;
        background: #F5F8FA;

        &-name {
            color: #333F47;
            font-family: Poppins;   
            font-size: 12px;    
            font-style: normal; 
            font-weight: 500;   
            line-height: 16px;  
        }
    }
}