.label {
    font-family: 'Poppins';
    display: inline-flex;
    padding: 0;
    align-items: flex-start;
    gap: 0;

    &-h1 {
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
    }
    
    &-h2 {
        font-size: 29px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }

    &-h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    &-h4 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    &-h5 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    &-h6 {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }

    &-h7 {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    &-h8 {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }

    &-body-bold {
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

    &-body {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    &-small {
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }
    
}