@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #f5f8fa;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
 
/* For screen title */
.heading {
  font-family: 'Poppins';
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

/* Top level headers */
.heading-large {
  font-family: 'Poppins';
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

/* Main titles, use only once per page */
.heading-medium {
  font-family: 'Poppins';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

/* Identify key functionality */
.heading-small {
  font-family: 'Poppins';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

/* Sub-section & group headings */
.sub-heading {
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Deep headings and highlight important information pieces */
.sub-heading-medium {
  font-family: 'Poppins';
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* List items group heading */
.sub-heading-capital {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

/* Low level heading */
.sub-heading-small {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
} 

.body {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-small {
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-bold {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.body-italics {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.body-link {
  font-family: 'Poppins';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-paragraph {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-paragraph-indent {
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.body-extra-small {
  font-family: 'Poppins';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.primary-100 {
  color: #D5FADD;
}

.primary-200 {
  color: #9CDDB7;
}

.primary-300 {
  color: #6BCB94;
}

.primary-400 {
  color: #39BA70;
}

.primary-500 {
  color: #08A94C;
}

.primary-600 {
  color: #06873D;
}

.secondary-100 {
  color: #FEEAD2;
}

.secondary-200 {
  color: #FCD6A5;
}

.secondary-300 {
  color: #FBC177;
}

.secondary-400 {
  color: #F9AD4A;
}

.secondary-500 {
  color: #F8981D;
}

.secondary-600 {
  color: #C67A17;
}

.neutral-0 {
  color: #FFFFFF;
}

.neutral-100 {
  color: #F5F8FA;
}

.neutral-200 {
  color: #E8ECF5;
}

.neutral-300 {
  color: #D2DFE8;
}

.neutral-400 {
  color: #B2BFC8;
}

.neutral-500 {
  color: #7E93A8;
}

.neutral-600 {
  color: #333F47;
}

.neutral-700 {
  color: #1A2730;
}

.success-100 {
  color: #D5FADD;
}

.success-200 {
  color: #08A94C;
}

.success-300 {
  color: #06873D;
}

.warning-100 {
  color: #FEF6CD;
}

.warning-200 {
  color: #FCD305;
}

.warning-300 {
  color: #CAA904;
}

.info-100 {
  color: #CDE5F8;
}

.info-200 {
  color: #047CDD;
}

.info-300 {
  color: #0363B1;
}

.error-100 {
  color: #F7D4D4;
}

.error-200 {
  color: #D62926;
}

.error-300 {
  color: #AB211E;
}

.background-white {
  color: #FFFFFF;
}

.background-light {
  color: #F5F8FA;
}

.background-dark {
  color: #333F47;
}

.text-white {
  color: #FFFFFF;
}

.text-light {
  color: #B2BFC8;
}

.text-lightdark {
  color: #7E93A8;
}

.text-dark {
  color: #333F47;
}

.icon-white {
  color: #FFFFFF;
}

.icon-light {
  color: #B2BFC8;
}

.icon-lightdark {
  color: #7E93A8;
}

.icon-dark {
  color: #333F47;
}

.stroke-success {
  color: #06873D;
}

.stroke-secondary {
  color: #C67A17;
}

.stroke-error {
  color: #AB211E;
}

.stroke-info {
  color: #0363B1;
}

.stroke-tertiary {
  color: #E8ECF5;
}

.stroke-dark {
  color: #333F47;
}

.button-primary {
  color: #08A94C;
}

.button-hover {
  color: #06873D;
}

.button-secondarylight {
  color: #FFFFFF;
}

.button-secondarydark {
  color: #F5F8FA;
}

.button-secondarystroke {
  color: #E8ECF5;
}




